@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle, #0b456b, #021c37);
  color: #00d9ff;
}

.clock {
  width: 500px;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: radial-gradient(circle, #05263c, #000d1a);
}

.clock::before,
.clock::after {
  content: "";
  width: 100%;
  width: 100%;
  height: 100%;
  padding: 25px;
  position: absolute;
  border-radius: 100%;
  z-index: -1;
  background: conic-gradient(
    from var(--angle),
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #ff4545
  );
  animation: rotate linear 7.5s infinite;
}

.clock::before {
  filter: blur(30px);
}

.number {
  transform: rotate(calc(30deg * var(--r)));
  position: absolute;
  text-align: center;
  inset: 20px;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0 0 12px #ee00ff;
}

.center-dot {
  width: 25px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: conic-gradient(
    from var(--angle),
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #ff4545
  );
  animation: rotate linear 7.5s infinite;
}

.center-dot::after {
  content: "";
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  position: absolute;
  border-radius: 100%;
  background: #05263c;
}

.center-dot::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: conic-gradient(
    from var(--angle),
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #ff4545
  );
  animation: rotate linear 7.5s infinite;
  filter: blur(10px);
}

.second-hand {
  width: 5px;
  width: 5px;
  height: 210px;
  background: linear-gradient(#ff4545, #00ff99);
  position: absolute;
  top: calc(50% - 210px);
  left: calc(50% - 12.5);
  transform-origin: bottom;
  border-radius: 30px 30px 0 0;
}

.minute-hand {
  width: 7px;
  width: 7px;
  height: 190px;
  background: linear-gradient(#00ff99, #006aff);
  position: absolute;
  top: calc(50% - 190px);
  left: calc(50% - 12.5);
  transform-origin: bottom;
  border-radius: 30px 30px 0 0;
}

.hour-hand {
  width: 12px;
  width: 12px;
  height: 130px;
  background: linear-gradient(#006aff, #ff0095);
  position: absolute;
  top: calc(50% - 130px);
  left: calc(50% - 12.5);
  transform-origin: bottom;
  border-radius: 30px 30px 0 0;
}

.second-hand::after,
.minute-hand::after,
.hour-hand::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(10px);
}

.second-hand::after {
  background: linear-gradient(#ff4545, #00ff99);
}

.minute-hand::after {
  background: linear-gradient(#00ff99, #006aff);
}

.hour-hand::after {
  background: linear-gradient(#006aff, #ff0095);
}

@keyframes rotate {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
